:root {
    --bgbtn: #d88ab8;
    --hover: #706f6f;
    --header: #F5E3F5;
    --colorTxt: #a59f9f;
    --titles: #3eaf28;
    --bgMain: rgb(241, 241, 241);

    --sizeLogo: 2rem;
    --sizeNavbar: 1.2rem;
    --sizeTitles: 2.5rem;
    --sizeTxt: 1.3rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 90%;
}

/** Header **/

.header {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bgbtn);
    padding: 15px;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar {
    display: flex;
    list-style: none;
}

.title {
    font-size: var(--sizeLogo);
    color: var(--header);
}

.navbar li {
    margin: 0 15px 0 15px;
    cursor: pointer;
}

.navbar li a {
    color: var(--header);
    text-decoration: none;
    font-size: var(--sizeNavbar);
}

/** Banner **/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url('../assets/img/banner.png');
    background-size: cover;
    background-position: center top;
}

.banner p {
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 100px 1px inset var(--hover);
    border-radius: 15px;
    padding: 10px 55px;
    font-size: 10vh;
    color: var(--header);
}


.banner a {
    background-color: var(--bgbtn);
    text-decoration: none;
    color: var(--header);
    padding: 10px 30px;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-size: var(--sizeTxt);
}

.banner a:hover {
    box-shadow: 1px 1px 6px 3px var(--hover);
    transform: scale(1.05);
}

/** Section Intro **/

main {
    padding: 50px;
    background-color: var(--bgMain)
}

.section-intro {
    width: 100%;
    margin: auto;
}

.section-h2 {
    display: inline-block;
    font-size: var(--sizeTitles);
    color: var(--titles);
    border-bottom: 2px dotted var(--titles);
    margin-bottom: 30px;
}

.section-p {
    font-size: var(--sizeTxt);
    color: var(--colorTxt);
    margin-bottom: 30px;
}

.section-a {
    display: inline-block;
    background-color: var(--bgbtn);
    text-decoration: none;
    color: var(--header);
    padding: 10px 30px;
    border-radius: 4px;
    transition: all 0.5s ease;
    font-size: var(--sizeTxt);
    
}

.section-a:hover {
    box-shadow: 1px 1px 6px 3px var(--hover);
}

@media (max-width:425px ) {

    .banner {
        background-image: url(../assets/img/mobile/banner.png)
    }

    .banner p {
        font-size: 4vh;
    }
} 